.info-modal__overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
}
  
.info-modal__content {
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    width: 40vw;
    height: 60vh;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
}
  
.info-modal__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    margin-left: 20px;
    font-size: clamp(0.8em, 4vw, 1.3em);
}

.info-modal__close-button {
    background: none;
    border: none;
    font-size: 18px;
    cursor: pointer;
}
  
.info-modal__body {
    height: 100%;
    overflow-y: scroll;
} 