.input-text {
    width: 100%;
    padding: 12px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 1px solid #999;
    border-radius: 4px;
    background-color: #fff;
    transition: background-color 0.3s ease-in-out;
}
.input-text:focus {
    background-color: #f1f1f1;
}

.input-text_empty {
    border: 2px solid #e03535;
}